{% extends "hr.html" %}
{% load staticfiles %}
{% block mycode %}
<style>
.container{
    animation-name: abc;
        animation-duration:2s;
        /* animation-iteration-count: infinite; */
}
@keyframes abc{
        from{ position: relative; left: 0px;transform: rotateY(180deg);}
        /* to{left: 500px;} */
    }
</style>
 <div class="container">
      <div class="row">
          <div class="col-md-6" style="height:30px;background:#D2691E;margin-left: 20%;margin-right:20%;box-shadow:0px 0px 10px black;color:white;">
               <h5> Announcements</h5>
          </div>
      </div>
     <div class="row">
          <div class="col-md-6" style=" background: cornsilk;margin-left: 20%;margin-right:20%;box-shadow:0px 0px 10px black;">
                    {% if status %}
                    {{status}}
               {% endif %}   
               <form action="" method="POST">
                       {% csrf_token %}
                       
                      <div class="form-group">
                           <textarea name="text" id="text" cols="84" rows="8" style=" background: cornsilk;" class="form-control" placeholder="Write here...."></textarea>
                      </div>
                      <div class="form-group">
                           <input type="submit" class="btn btn-danger" name="Add" value="Send" style="float:right;margin-bottom:5%;">
                      </div>
                   </form>
              </div>
    </div>
 </div>
{% endblock %}