{% extends 'hr.html'%}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block mycode %}
<style>
th,td{
    width:30%;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if status %}
            <p class="alert alert-info">{{status}}</p>
            {% endif %}
            <h2>Holidays</h2>
            <form action="" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="">Date</label>
                        <input type="date" name="date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Day</label>
                        <select name="day" id="">
                            <option value="sunday">Sunday</option>
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="">Holiday</label>
                        <input type="text" name="holiday" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Status</label>
                        <select name="status" id="" class="form-control">
                                <option value="Half day">Half Day</option>
                                <option value="Full day">Full Day</option>
                            </select>
                </div>
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div>
        <div class="col-md-6" style="border:2px solid #D2691E;background:white">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Day</th>
                        <th>Holiday</th>
                        <th>Status</th>
            
                    </tr>
                </thead>
                <tbody>
                    {% for i in d %}
                    <tr>
                    <td>{{i.date}}</td>
                    <td>{{i.day}}</td>
                    <td>{{i.holidays}}</td>
                    <td>{{i.status}}</td>
                    
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}