{% extends "index.html" %}
{% load staticfiles %}

{% block head %}
<script src="{% static 'jqueryFile.js'%}"></script>
    <style>
    .bground{
        background: lightgray;
        color: black;
    }
    tr th{
        width:25% ;background: white !important;
        position:sticky !important;
        top:0px !important;
    }
    @media screen and (max-width:500px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
        }
      }
      @media screen and (max-width:770px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
        }
      }
    
      .container{
    animation-name: abc;
        animation-duration:2s;
        /* animation-iteration-count: infinite; */
}
@keyframes abc{
        from{ position: relative; left: 0px;transform: rotateY(180deg);}
        /* to{left: 500px;} */
    }
    </style>
{% endblock %}
{% block mycode %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto" style="box-shadow: 0px 0px 10px black;margin-left: 10%;margin-right:10%;background:cornsilk;">
                <div class="row">
                    <div style="background:#D2691E;height:30px;width:100%;color:white;"><span style="margin-left:15px;">Holidays</span></div>
                </div>
                <div class="row " style="margin-top:15px;">
                        <div class="col-md-6"  >
                            <div class='row' style="padding:10px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Year</span>
                                </div><div class='col-md-6 visible' id="setyear" style="background:white;height:30px;">
                                    <script>
                                        $(function(){
                                           let d = new Date().getFullYear();
                                           $('#setyear').html(d);
                                   
                                          });
                                       </script>
                        
                                </div>
                            </div>
                        </div>                    
                </div> 
                <div class="row m-2" style="border:2px solid lightgrey;">
                        <div style="background:#D2691E;height:30px;width:100%;color:white;"><span style="margin-left:15px;">Dates</span></div>
                    
                <!-- <div class="row" style="height:40vh;overflow:auto;"> -->
                       <div class="col-md-12" style="height:50vh;overflow:auto;">
                        <table class="table table-striped" style="background:cornsilk;">
                            <thead>
                                <tr>
                                    <th >Date</th>
                                    <th>Day</th>
                                    <th>Holiday</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                        {% for i in d %}
                                        <tr>
                                        <td>{{i.date}}</td>
                                        <td>{{i.day}}</td>
                                        <td>{{i.holidays}}</td>
                                        <td>{{i.status}}</td>
                                    </tr>
                                        {% endfor %}
                            </tbody>
                        </table>
                       </div></div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    
   
{% endblock %}